.about {
  padding: 5em;
  height: 100vh;
}

.about>h1 {
  font-family: impact;
}

.about>p {
  max-width: 40em;
}

.programming {
}

.programming>h1 {
  font-family: impact;
  color: white;
  background: black;
  padding: 0 0 0 4em;
}

.programming>p {
  padding: 0 0 0 5em;
  max-width: 40em;
}

.programming>h3 {
  font-family: arial;
  padding: 0 0 0 5em;
}

.skillcontainer {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50em;
}

.skill {
  padding: 1em 1.5em;
}

.icon {
  height: 3.5em;
  transition: 0.5s;
}

.icon:hover {
  height: 4.5em;
}

#ubuntu-icon {
  height: 1.75em;
  transition: 0.5s;
}

#ubuntu-icon:hover {
  height: 2.5em;
}

.note-editor {
  background-color: #0d3d56;
  height: 30em;
  color: #f0fff0;
}

.note-editor> h1 {
  font-family: Impact;
  padding: 1em 0 0 4em;
}
