<eu-nav>
  <div style="height:2px"></div>
  <div id="about" class='about'>
    <h1>Bulochnik.com</h1>
    <p>
    Hello! and welcome to my website. My Name is Eugene Bulochnik. This website is a showcase of activities I like to do including rock climbing, photography, and programming. The website itself is built using angular 2 running off an AWS EC2 linux server with apache. The site is a work in progess and will continue to grow.
    </p>
    <p>
    Now about myself. I am a Pharmacist currently working at a local hospital in Portland Oregon. I graduated from Drake University in 2012 with a PharmD degree. Cardiology, hematology and blood thinners are my speciality.
    </p>
  </div>

  <div id="programming" class="programming">
    <h1>Programming</h1>
    <p>
      My interest in programming started during my last year in college while on rotations for a diabetic management clinic. The clinic kept track of patients and their related glucose levels with paper and folders. Finding this method of tracking inefficient, I developed an excel spreadsheet using VBA which allowed us to quickly navigate between patient demographics, patient contact notes,and patient lab values, while also providing us insight into our own clinic outcomes. This began my journey into computer science.
    </p>
    <h3>Programming Proficiencies</h3>
    <div class="skillcontainer">
      <div class="skill"><a href='http://www.vim.org'><img class="icon" src="../assets/vim-icon.png"></a></div>
      <div class="skill"><a href='http://angular.io'><img class="icon" src="../assets/angular.png"></a></div>
      <div class="skill"><a href='http://webpack.js.org'><img class="icon" src="../assets/webpack.png"></a></div>
      <div class="skill"><a href='http://vagrantup.com'><img class="icon" src="../assets/vagrant.png"></a></div>
      <div class="skill"><a href='http://ubuntu.com'><img class="icon" id="ubuntu-icon" src="../assets/ubuntu.png"></a></div>
    </div>
    <p>
    This section showcases some of the projects I have been working on. The first is a Medical Progress Note Editor. It combines Quill, a WYSIWYG text editor, with custom made medical calculators. The second is an electronic ciriculum vitae.
    </p>
    <div id="editor" class="note-editor">
      <h1>Ambulatory Progress Note Editor</h1>
      <eu-editor></eu-editor>
    </div>
  </div>
  <div id="electronic cv" style="height:150px;border:solid black 1px" class="electronicCv"></div>
  <div id="photography" style="height:150px;border:solid black 1px" class="electronicCv"></div>
  <div id="nature" style="height:150px;border:solid black 1px" class="electronicCv"></div>
  <div id="landscape" style="height:150px;border:solid black 1px" class="electronicCv"></div>
  <div id="portrait" style="height:150px;border:solid black 1px" class="electronicCv"></div>
  <div style='height: 100em'></div>

</eu-nav>
