<eu-nav>
  <div class='about'>
    <h1>Bulochnik.com</h1>
    <p> Hello! and welcome to my website. My Name is Eugene Bulochnik. This website is a showcase of activities I like to do including rock climbing, photography, and programing. The website itself is built using angular 2 running off an AWS EC2 linux server with apache. The site is a work in progess and will continue to grow.</p>
    <p> Now about myself. I am a Pharmacist currently working at a local hospital in Portland Oregon. I graduated from Drake University in 2012 with a PharmD degree. Cardiology, hematology and blood thinners are my speciality. </p>
  </div>
  <div class="programming">
    <h1>Programming</h1>
  </div>
</eu-nav>
