.about {
  padding: 5em;
}

.about>h1 {
  font-family: impact;
}

.about>p {
  max-width: 40em;
}

.programming {
}

.programming>h1 {
  font-family: impact;
  color: white;
  background: black;
  padding: 0 0 0 4em;
}

.programming>p {
  padding: 0 0 0 5em;
  width: 40em;
}
