.eunav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 13em;
  height: 100%;
  border-right: solid black 1px;
  background-color: white;
  padding: 13em 0 0 0;
  box-sizing: border-box;
  transition: 1s ease;
}

.nav-closed {
  left: -11em;
}

.eubutton {
  font-family: impact;
  font-size: 1.5em;
  transition: 0.5s;
  padding: 0 0 0 1.5em;
}

.eubutton:hover {
    background-color: black;
    color: white;
}

.eubutton-hide {
  opacity: 0;
}

.content {
  margin: 0 0 0 13em;
  transition: 1s;
}

.content-expand {
  margin: 0 0 0 2em;
}
